*{
    margin: 0;
    padding: 0;
}
body{
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;

}

main{
    background-image: url(img/1217525.png);
    background-repeat: no-repeat;
}

.swiper{
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
    height: 70vh;
    margin-top: 6.7%;
  }

.swiper-slide img{
    background-color: rgba(0, 0, 0, 0.7);
    border-top: solid .2px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px ;
    position: relative;
    top: 20%;
    left: 42.8%;
}

.swiper-slide p{
    color: white;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 42.8%;
    bottom: 10.8%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 200px;
}







